# Ignore binaries.
/bin

# Ignore OS X files
.DS_Store

# Ignore PHPStorm project files
.idea

# Ignore Drupal files that are managed by composer
!/docroot
/docroot/*
!/docroot/modules
/docroot/modules/contrib
!/docroot/profiles
/docroot/profiles/contrib
!/docroot/themes
/docroot/themes/contrib

# Ignore vendor
vendor/

# Local settings.
docroot/sites/**/settings.local.php
docroot/sites/development.services.local.yml

# Local development
docroot/sites/**/services/local.services.yml

# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private

# Ignore any cache files
.sass-cache

# Ignore dev modules settings
*reroute_email*
system.menu.devel.yml
devel.settings.yml
devel.toolbar.settings.yml
webprofiler.config.yml
dblog.settings.*
